/* ============================ START CSS RESET AND OPTIONS ============================ */
* {
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align:top;
	text-decoration:none;
	outline:none;
}
a {
	color:#7fd703;
}
a:hover {
	text-decoration: none;
}
body {
	background: #fff;
	font-size: 13px;
	line-height: 1.5em;
	font-family: 'Bitter', serif;
}
.home .container img,
.container img,
.blog .container img,
.page-template-template-gallery-php .container img {
	max-width: 100%;
	height: auto;
}
ul, ol {
	margin: 0;
	padding: 0; 
}
p {
	line-height: 1.7em;
	color: #555;
	font-size: 13px;
	margin-bottom: 15px;
}
/* ============== START DEFAULT CSS ================= */
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.alignright {
    float: right;
    margin-bottom: 10px;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    max-width: 100%; /* Keep wide captions from overflowing their container. */
    padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
    font-style: italic;
    font-size: 12px;
    line-height: 2;
    color: #757575;
}
.sticky{
}
.bypostauthor{
}

/* ============== END DEFAULT CSS ================= */


/* ========================================================================
                                START SLOW EFFECT 
========================================================================= */
input,
i,
a,
.content .recipe-pagination .last-recipe,
.content .recipe-pagination .next-recipe {
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}
/* ========================================================================
                                END SLOW EFFECT 
========================================================================= */

/* ========================================================================
                                START COMMON STYLES 
========================================================================= */
.center{
	text-align: center;
}

/* ========================================================================
                                END COMMON STYLES 
========================================================================= */

/* =============================== START HEADER =============================== */
.entry-header,
.header {
	margin-bottom: 30px;
}
.entry-header{
	margin-top: 0;
}
.header .logo {
	padding: 30px 0;
}
.header .logo a {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 23px;	
}
.header .menu .responsive-menu {
	padding: 0;
	font-size: 13px;
	display: none;
	line-height: 1.5em;
	font-weight: 700;
	cursor: pointer;
	background: url('../images/menu.png') no-repeat center right;
	color: #444;
	vertical-align: top;
	padding-right: 26px;
	text-transform: uppercase;
}
.header .menu {
	padding: 35px 0 0 0;
	font-size: 0;
	text-align: right;
	position: relative;
	line-height: 0;
}
.header .menu ul {
		width: 100%;
}
.header .menu li {
	margin-left: 30px;
	display: inline-block;
	font-size: 11px;
	line-height: 1.5em;
	*zoom: 1;
	*display: inline;
}
.header .menu li a {
	font-size: 11px;
	color: #7fd703;
	text-transform: uppercase;
}
.header .menu li a:hover,
.header .menu li.active a {
	color: #444;
	text-decoration:none; 
}
.header .header-heading {
	padding: 30px;
	border-top: 5px solid #444;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.header .header-heading h2 {
	text-align: center;
	line-height: 1.5em;
	font-size: 24px;
	margin: 0px;
}
.header .menu ul li {
	position: relative;
}
.header .menu ul li ul {
	display: none;
	position: absolute;
	z-index: 10;
	min-width: 140px;
	padding: 33px 0 0 0;
	right: 0;
}
.header .menu ul li ul li {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
	border: 1px solid #444;
	text-align: center;
	margin-top: -1px;
}
.header .menu ul li ul li a {
	display: block;
	padding: 8px;
	text-align: center;
}
.header .menu ul li:hover ul {
	display: block;
}
/* =============================== END HEADER =============================== */



/* =============================== START CONTENT =============================== */
.content {
	padding: 0 0 30px 0;
}
.home .content .blog-entry,
.archive .content .blog-entry,
.search .content .blog-entry,
.blog .content .blog-entry {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;	
}
.archive .blog-entry:last-of-type,
.content .blog-entry:last-of-type {
  border: medium none;
}

.blog .content div,
.page-template-template-gallery-php .content div {
	max-width: 100%;
}

.blog .content img,
.page-template-template-gallery-php .content img {
	max-width: 100%;
	height: auto;
}
.home .content div,
.home .content img{
	
}
.content iframe {
	max-width: 100%;
	height: 400px;
}
.content .blog-entry .entry-cover {
	margin-bottom: 30px;
}
.content .blog-entry .entry-cover a {
	display: block;
}
.content .blog-entry .entry-cover img {
	margin-bottom: 0;
}
.content .blog-entry .entry-content img,
.content .blog-entry .entry-cover img {
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 1px; 
}
.content .blog-entry .entry-content {
	border-left: 1px solid #e5e5e5;	
	padding-left: 30px;
}
.content .blog-entry .entry-header h1 {
	color: #444;
	margin: 0 0 6px 0;
	font-size: 15px;
	line-height: 1.5em;
	font-weight: normal;
	text-transform: uppercase;
}
.content .blog-entry .entry-header h1 a {
	color: #7fd703;
	margin: 0 0 6px 0;
	font-size: 15px;
	line-height: 1.5em;
	font-weight: normal;
	text-transform: uppercase;
}
.content .blog-entry .entry-header p {
	display: block;
	color: #aaaab8;
	font-style: italic;
	font-size: 11px;
}
.content .blog-entry .entry-header p a {
	color: #7fd703;
}
.content .blog-entry .entry-header p span {
	display: block;
	font-style: normal;
}
.content ul.page-numbers li span.current,
.content ul.page-numbers li a:hover,
.content .widget .popular-entrys .popular-entry h3 a:hover,
.content .blog-entry .entry-header h1 a:hover,
.content .blog-entry .entry-header p a:hover,
.content .blog-entry .entry-content p {
	color: #444;
}
.content .search-line {
	width: 100%;
	border: 1px solid #e5e5e5;
	padding: 10px;
	color: #999;
	font-size: 13px;
	line-height: 1.5em;
	font-family: 'Bitter', serif;
}
.content .search-button {
	display: none;
}
.content .widget {
	margin-bottom: 30px;
}

.content .widget .widget-title,
.content .widget h3 {
	color: #aaaab8;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	margin: 0 0 20px 0;
}
.content .widget .popular-entrys {
	margin-bottom: 0px;
}
.content .widget .popular-entrys .popular-entry {
	margin-bottom: 30px;
}
.content .widget .popular-entrys .popular-entry img {
	border: 1px solid #e5e5e5;
	padding: 1px;
	margin-bottom: 10px;
}
.content .widget .popular-entrys .popular-entry h3 {
	margin: 0px;
}
.content .widget .popular-entrys .popular-entry h3 a {
	font-size: 12px;
	line-height: 1.5em;
	text-transform: uppercase;
	color: #7fd703;	
}

.content .widget_meta ul li{
	list-style: none;
}
.content .socials {
	line-height: 0;
	font-size: 0;
}
.content .socials li {
	display: inline-block;
	list-style: none;
	*zoom: 1;
	*display: inline;
	line-height: 1.5em;
	margin-right: 5px;
	font-size: 11px;
}
.content .socials li img{
	margin:0;
	border: medium none;
}
.content .socials li a {
	display: block;
	border: 1px solid #e5e5e5;
}
.content .socials li a:hover {
	border: 1px solid #7fd703;
}
.content .share-it .socials{
	margin: 0
}
.content .share-it .socials li a {
	border: medium none;
}
.stButton{
	margin-right:0 !important;
	margin-left:5px;
}
.stButton .stLarge {
    display: block;
    height: 28px !important;
    width: 28px !important;
    border: 1px solid #E5E5E5;
}
.st_googleplus_large .stLarge {
    background: url("../images/socials/mini_google.png") no-repeat scroll center center #fff !important;
}
.st_facebook_large .stLarge {
    background: url("../images/socials/mini_facebook.png") no-repeat scroll center center #fff !important;
}
.st_twitter_large .stLarge {
    background: url("../images/socials/mini_twitter.png") no-repeat scroll center center #fff !important;
}
.st_rss_large .stLarge {
    background: url("../images/socials/mini_rss.png") no-repeat scroll center center #fff !important;
}

.content ol li,
.content ul li {
	list-style-position: inside;
}
.content ol li a,
.content ul li a {
	color: #7fd703;
}
.content ol li a:hover,
.content ul li a:hover {
	color: #444;
}
.content ul.page-numbers {
	border-top: 1px solid #e5e5e5;
	padding: 30px 0 0 0;
	margin-left: -5px; 
	line-height: 1.2em;
}
.content ul.page-numbers li {
	display: inline-block;
	*zoom: 1;
	color: #aaaab8;
	*display: inline;
	font-size: 15px;
	font-weight: 400;
}
.content .post_pagination ul.page-numbers li,
.content ul.page-numbers li span,
.content ul.page-numbers li a {
	text-transform: uppercase;
	color: #7fd703;
	margin: 0 5px;
	font-size: 15px;
	line-height: 1em;
}

.content .post_pagination ul.page-numbers li,
.content ul.page-numbers li span.current {
	color: #444;
}
.content .entry-cover {
	margin-bottom: 30px;
}
.content .entry-cover img {
	padding: 1px;
	background: #fff;
	border: 1px solid #e5e5e5;
}
.content .entry-cover iframe{
	width: 100%;
	min-height: 480px;
	border: medium none;
}
.single-gallery .content .blog-entry .entry-header p span,
.single-post .content .blog-entry .entry-header p span {
	display: inline;
}
.single-gallery .content .blog-entry .entry-content,
.single-post .content .blog-entry .entry-content {
	padding-left: 0;
	border-left: 0px solid #ccc;
}
.single-gallery .content .entry-cover img,
.single-post .content .entry-cover img {
	width: 100%;
}
.single-post .content .blog-entry .entry-header {
	margin-bottom: 20px;
}
.single-post .content .blog-entry .entry-content {
	padding-left: 0;
	border-left: 0px solid #ccc;
}
.content .blog-entry .entry-content .recipe {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 30px 30px 15px;
	background: #f9f8f8;
	border-left: 4px solid #444;
}
.content .blog-entry .entry-content .recipe ul {
	margin-bottom: 15px;
	font-size: 11px;
	line-height: 1.5em;
}
.content .blog-entry .entry-content .recipe ul li {
	margin-bottom: 3px;
}

/* ----------------------   POST GALLERY  */

.entry-content .gallery{
	margin-bottom: 10px;
}
.entry-content .gallery .gallery-item{

}
.entry-content .gallery .gallery-item dt,
.entry-content .gallery .gallery-item dl {	
	margin-right: 10px;

}
.entry-content .gallery .gallery-item a,
.entry-content .gallery .gallery-item img{
	width: 100% !important;
	height: 100% !important;
	max-width: 100% !important;
	border: medium none;
}
.entry-content .gallery .gallery-item a{
	position: relative;
}
.entry-content .gallery .gallery-item a:hover:before{
	content : "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url("../images/zoom.png") no-repeat scroll center center #000000;
	opacity: 0.4;


}
.entry-content .gallery .gallery-item img{   
	border: 1px solid #E5E5E5 !important;
    padding: 1px;
}

/* ---------------------- ^ POST GALLERY  */

.content .entry-footer {
	clear: both;
	margin-bottom: 30px;
	padding-top:30px;
	border-bottom: 1px solid #e5e5e5;
}

.content .entry-footer p {
	margin-bottom: 10px;
	font-size: 11px;
	color: #aaaab8;
}
.content .entry-footer p a {
	color: #999;
	font-size: 11px;
}
.content .entry-footer p a:hover {
	color: #7fd703;
}
.content .entry-footer .socials {
	position: relative;
	top: 1px;

	float: right;
}
.content .entry-footer .socials li {
	margin: 0;
	margin-top: -28px;
}

.content .entry-footer .socials li img {
	padding: 0;
	border: none;
}
.content .recipe-pagination {
	border-top: 1px solid #e5e5e5;
	padding: 30px 0 0 0;
}
.content .recipe-pagination .last-recipe,
.content .recipe-pagination .next-recipe{
	color: #7FD703;

}
.content .recipe-pagination a {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1.5em;
}
.content .recipe-pagination .last-recipe,
.content .recipe-pagination a.next-recipe {
	float: right;
}
.content .recipe-pagination .last-recipe:hover,
.content .recipe-pagination .next-recipe:hover,
.content .recipe-pagination a:hover {
	color: #444;
}

/* --- START SLIDER --- */
.main-slider{
	margin-bottom: 44px;
}

/* --- END SLIDER --- */


/* --- START SEARCH AREA --- */
.content .search-header{
	margin-top: 0;
	padding-bottom: 20px;
}

/* --- END SEARCH AREA --- */




/* --- START COMMENT AREA --- */
.comments-area {
	margin-bottom: 30px;
}
.comments-area h3 {
	margin-bottom: 30px;
	font-weight: normal;
	color: #444;
	font-size: 22px;
}
.comments-area .commentlist {
	margin-bottom: 30px;
	padding: 0px;
}
.comments-area .commentlist li ul {
	margin-left: 40px;
}
.comments-area .commentlist li {
	list-style: none;
}

.comments-area .commentlist li .comment {
	margin-bottom: 30px;
}

.comments-area .commentlist li .comment h1,
.comments-area .commentlist li .comment h2,
.comments-area .commentlist li .comment h3,
.comments-area .commentlist li .comment h4,
.comments-area .commentlist li .comment h5,
.comments-area .commentlist li .comment h6,
.comments-area .commentlist li .comment ol,
.comments-area .commentlist li .comment ul,
.comments-area .commentlist li .comment pre,
.comments-area .commentlist li .comment address,
.comments-area .commentlist li .comment blockquote,
.comments-area .commentlist li .comment table,
.comments-area .commentlist li .comment dl,
.comments-area .commentlist li .comment p {
	padding: 20px;
	background: #f7f7f7;
	margin: 0px;
	color: #686868;
}
.comments-area .commentlist li .comment ul.children{
	background: none;

}
.comments-area .commentlist li .comment table{
	width: 100%;
}
.comments-area .commentlist li .comment .comment-info {
	display: block;
	padding-top: 8px;
	background: url('../images/comment_bg.png') no-repeat 20px 0 #fff;
	padding-left: 50px;
	font-size: 12px;
	color: #cbcbcb;
	line-height: 1.5em;
}
.comments-area .commentlist li .comment .comment-info span {
	text-transform: uppercase;
}
.comments-area .commentlist li .comment .comment-info i {
	line-height: 1.4em;
}

.comments-area .comment-respond p {
	margin: 0;
}
#contact_form label,
.comments-area .comment-respond label{
	font-weight:normal;
	color: #555;
}

#contact_form .the-line,
.comments-area .comment-respond .comments-line {
	color: #777;
	font-family: 'Bitter', serif;
	border: 1px solid #e5e5e5;
	padding: 6px 10px;
	margin-top: 5px;
	width: 100%;
	margin-bottom: 15px;
}
#contact_form .the-area,
.comments-area .comment-respond .comments-area {
	color: #777;
	font-family: 'Bitter', serif;
	border: 1px solid #e5e5e5;
	padding: 6px 10px;
	margin-top: 5px;
	width: 100%;
	margin-bottom: 10px;
	min-height: 140px;
	resize: none;
}
#contact_form .the-area:focus,
#contact_form .the-line:focus,
.comments-area .comment-respond .comments-line:focus,
.comments-area .comment-respond .comments-area:focus {
	border: 1px solid #999;
}

.post-password-form input,
.comment-form .form-submit #submit,
#contact_form .contact-button,
.comments-area .comment-respond .comments-button {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	min-width: 200px;
	border: 1px solid #e5e5e5;
	background: #7fd703;
	font-family: 'Bitter', serif;
	font-size: 13px;
	padding: 6px 15px;
	margin: 15px 0;
	cursor: pointer;
}
.post-password-form input{
	margin-top: 0;
	margin-left: 4px;
}
.post-password-form label{
	vertical-align: middle;

    font-size: 15px;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0;
    text-transform: uppercase;
    color: #444444;
}
.post-password-form label input{
	cursor: text;
	background: none;
	text-align: left; 
	color: #777;
	min-width: 80px;
	font-family: 'Bitter', serif;
	border: 1px solid #e5e5e5;
	padding: 6px 10px;
	
	margin-bottom: 0;
	margin-left: 10px;
}
#contact_form .contact-button:hover,
.comments-area .comment-respond .comments-button:hover {
	background: #444;
}
/* --- END COMMENT AREA --- */
.page {
	margin-bottom: 30px;
}
.page .content img {
	padding: 1px;
	border: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.site-title {
	color: #a1a1a1;
	font-weight: normal;
	font-size: 24px;
	margin: 0 0 30px 0;
	text-transform: uppercase;
}
.google-map {
	padding: 1px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	margin-bottom: 30px;
}
.contact-map{
	height: 450px;
}
.contact-info {
	margin-bottom: 30px;
}
.contact-info ul li {
	list-style: none;
	margin-bottom: 8px;
	color: #444;
}
.contact-info ul li span {
	padding-left: 25px;
	display: block;
	background: url('../images/contact-bg.png') no-repeat 0 0;
}
.contact-info ul li span.location {
	background-position: 0 2px;
}
.contact-info ul li span.mail {
	background-position: 0 -81px;
}
.contact-info ul li span.phone {
	background-position: 0 -162px;
}
#contact_form p {
	margin: 0;
}

.filter-area {
	margin-bottom: 30px;
}
.filter-area .recipe-item {
	margin-bottom: 30px;
}
.filter-area .recipe-item img {
	padding: 1px;
	border: 1px solid #e5e5e5;
	margin: 0px;
	opacity: 1;
	background: #fff;
	filter: alpha(opacity=100);
}
.filter-area .recipe-item img:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.filter-area .recipe-item h1 {
	margin: 10px 0 0;
	min-height: 38px;
}
.filter-area .recipe-item h1 a {
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #444;
	line-height: 1.5em;
}
.filter-area .recipe-item .recipe-item-cover {
	display: block;
	background: #000 url('../images/zoom.png') no-repeat center center;
}
.filter-area .recipe-item h1 a:hover {
	color: #7fd703;
}
.filter-area .filter-box {
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 38px;
}
.filter-area .filter-box h1 {
	margin: 0;
	color: #444;
	font-weight: normal;
	font-size: 24px;
}
.filter-area .filter {
	text-align: right;
	float: right;
}
.filter-area .filter li {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.filter-area .filter li a {
	text-transform: uppercase; 
	background: #e5e5e5;
	margin-left: 6px;
	list-style: none;
	color: #444;
	font-size: 11px;
	display: block;
	line-height: 1em;
	padding: 8px 10px;
	margin-bottom: 10px;
}
.filter-area .filter li a.active,
.filter-area .filter li a:hover {
	color: #fff;
	background: #7fd703;
}
/* =============================== END CONTENT =============================== */



/* =============================== START FOOTER =============================== */
.footer {
	border-top: 1px solid #e5e5e5;
	padding: 30px 0;
	text-align: center;
}
.footer p {
	font-size: 11px;
	color: #aaaab8;
	margin-bottom: 8px;
	line-height: 1.5em;
}
.footer ul {
	font-size: 0;
	line-height: 0;
	text-align: center;
	display: block;
}
.footer ul li {
	display: inline-block;
	*zoom: 1;
	padding: 0 5px;
	*display: inline;
}
.footer ul li a {
	font-size: 11px;
	color: #7fd703;
	display: block;
	line-height: 1.5em;
}
.footer ul li a:hover {
	color: #444;
}
/* =============================== END FOOTER =============================== */
/* =============================== START 404 PAGE =============================== */
.error-404 {
	min-height: 400px;

}
.error-404 form{
	width: 60%;
	margin: 100px auto 0;
}
.error-404 h1 {
	font-size: 34px;
	text-transform: uppercase;
}
.error-404 h4 {
	text-align: center;

}
/* =============================== END 404 PAGE =============================== */


/* GALLERY SWIPEBOX */
html.swipebox {
    overflow: hidden!important;
}
#swipebox-overlay img {
    border: none!important;
}
#swipebox-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999!important;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#swipebox-slider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    display: none;
}
#swipebox-slider .slide {
    background: url("../images/swipebox/loader.gif") no-repeat center center;
    height: 100%;
    width: 100%;
    line-height: 1px;
    text-align: center;
    display: inline-block;
}
#swipebox-slider .slide:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
    background:none;
    max-width: 1140px;
    max-height: 100%;
    width: 100%;
    padding:5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe{
    width: 100%!important; 
    height: 100%!important;
    position: absolute;
    top: 0; left: 0;
}
#swipebox-action, #swipebox-caption {
    position: absolute;
    left: 0;
    z-index: 999;
    height: 50px;
    width: 100%;
}
#swipebox-action {
    bottom: -50px;
}
#swipebox-action.visible-bars {
    bottom: 0;
}
#swipebox-action.force-visible-bars {
    bottom: 0!important;
}
#swipebox-caption {
    top: -50px;
    text-align: center;
}
#swipebox-caption.visible-bars {
    top: 0;
}
#swipebox-caption.force-visible-bars {
    top: 0!important;
}
#swipebox-action #swipebox-prev, #swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
    background-image: url("../images/swipebox/icons.png");
    background-repeat: no-repeat;
    border: none!important;
    text-decoration: none!important;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
}
#swipebox-action #swipebox-close {
    background-position: 15px 12px;
    left: 40px;
}
#swipebox-action #swipebox-prev {
    background-position: -32px 13px;
    right: 100px;
}
#swipebox-action #swipebox-next {
    background-position: -78px 13px;
    right: 40px;
}
#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}
#swipebox-slider.rightSpring {
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}
#swipebox-slider.leftSpring {
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}
@-moz-keyframes rightSpring {
    0% {
    margin-left: 0px;
}
50% {
    margin-left: -30px;
}
100% {
    margin-left: 0px;
}
}
@-moz-keyframes leftSpring {
    0% {
    margin-left: 0px;
}
50% {
    margin-left: 30px;
}
100% {
    margin-left: 0px;
}
}
@-webkit-keyframes rightSpring {
    0% {
    margin-left: 0px;
}
50% {
    margin-left: -30px;
}
100% {
    margin-left: 0px;
}
}
@-webkit-keyframes leftSpring {
    0% {
    margin-left: 0px;
}
50% {
    margin-left: 30px;
}
100% {
    margin-left: 0px;
}
}
@media screen and (max-width: 800px) {
    #swipebox-action #swipebox-close {
        left: 0;
    }

    #swipebox-action #swipebox-prev {
        right: 60px;
    }

    #swipebox-action #swipebox-next {
        right: 0;
    }
}
/* Skin 
--------------------------*/
#swipebox-overlay {
    background: #0d0d0d;
}
#swipebox-action, #swipebox-caption {
    text-shadow: 1px 1px 1px black;
    background-color: #0d0d0d;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d0d0d), color-stop(100%, #000000));
    background-image: -webkit-linear-gradient(#0d0d0d, #000000);
    background-image: -moz-linear-gradient(#0d0d0d, #000000);
    background-image: -o-linear-gradient(#0d0d0d, #000000);
    background-image: linear-gradient(#0d0d0d, #000000);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    opacity: 0.95;
}
#swipebox-action {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#swipebox-caption {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white!important;
    font-size: 15px;
    line-height: 43px;
    font-family: Helvetica, Arial, sans-serif;
}
/* AS STYLING [END] */



@media (min-width: 992px) {
	.menu>ul {
		display: block !important;
	}
}
@media (max-width: 992px) {
	.content .blog-entry .entry-content{
		padding: 0;
		border: medium none;
	}
	.header .menu .responsive-menu {
		display: block;
		cursor: pointer;
	}
	.header .menu ul li ul {
		position: relative;
		border: 0;
		padding: 0;
		display: block;
	}
	.header .menu ul li ul li {
		border: 0;
		text-align: right;
		border-top: 1px solid #e5e5e5;
	}
	.header .menu ul li ul li a {
		text-align: right;
		padding: 5px 15px;
	}
	.header .menu ul {
		right: 0;
		padding: 10px 20px;
		position: absolute;
		width: 100%;
		border: 1px solid #444;
		background: #fff;
		display: none;		
	}
	.header .menu ul li {
		display: block;
		width: 100%;
		margin: 0; 
		border-top: 1px solid #e5e5e5;
	}
	.header .menu ul li:first-child {
		border-top: 0px solid #e5e5e5;
	}
	.header .menu ul li a {
		padding: 5px 15px;
		width: 100%;
		display: block;
		background: #fff;
	}
}
@media (max-width: 400px) {
	.header .menu ul {
		padding: 10px;
	}
	.header .menu ul li a {
		padding: 5px;
	}
}


/* ============== START DEFAULT CSS ================= */
.comments-area .comment,
.blog_article .entry-content p {
    margin-bottom: 15px;
}
blockquote,
.entry-content q,
.comments-area .comment blockquote,
.comments-area .comment q {
    quotes: none;
}
.blog .blog_article .entry-content:after {
    content: '';
    clear: both;
    display: block;
    height: 1px;
}
blockquote:before,
blockquote:after,
.entry-content q:before,
.entry-content q:after,
.comments-area .comment blockquote:before,
.comments-area .comment blockquote:after,
.comments-area .comment q:before,
.comments-area .comment q:after {
    content: '';
    content: none;
}
.comments-area .comment table,
.blog_article .entry-content table {
    border-collapse: collapse;
    border-spacing: 0;
}
.entry-content caption,
.entry-content th,
.entry-content td,
.comments-area .comment caption,
.comments-area .comment th,
.comments-area .comment td {
    font-weight: normal;
    text-align: left;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: smaller;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
    clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
    display: table;
    content: "";
}

/* Responsive images */
.entry-content img,
.comment img,
.widget img {
    max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
    max-width: 100%;
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
    max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
    max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.alignright {
    float: right;
    margin-bottom: 10px;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    max-width: 100%; /* Keep wide captions from overflowing their container. */
    padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
    font-style: italic;
    font-size: 12px;
    line-height: 2;
    color: #757575;
}
img.wp-smiley,
.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.entry-content dl.gallery-item {
    margin: 0;
}
.gallery-item a,
.gallery-caption {
    width: 90%;
}
.gallery-item a {
    display: block;
}
.gallery-caption a {
    display: inline;
}
.gallery-columns-1 .gallery-item a {
    max-width: 100%;
    width: auto;
}
.gallery .gallery-icon img {
    height: auto;
    max-width: 90%;
    padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
    padding: 3%;
}


/* =Main content and comment content
-------------------------------------------------------------- */
.entry-meta {
    clear: both;
}
.entry-header img.wp-post-image {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-header .entry-title {
    font-size: 20px;
    font-size: 1.428571429rem;
    line-height: 1.2;
    font-weight: normal;
}
.entry-header .entry-title a {
    text-decoration: none;
}
.entry-header .entry-format {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-weight: normal;
}
.entry-header .comments-link {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 13px;
    line-height: 1.846153846;
    color: #757575;
}
.comments-link a,
.entry-meta a {
    color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
    color: #21759b;
}
article.sticky .featured-post {
    border-top: 4px double #ededed;
    border-bottom: 4px double #ededed;
    color: #757575;
    font-size: 13px;
    line-height: 3.692307692;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    text-align: center;
}

.entry-content p,
.entry-summary p,
.comment p,
.mu_register p {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.714285714;
}
.entry-content ol,
.comment ol,
.entry-content ul,
.comment ul,
.mu_register ul {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.714285714;
}
.entry-content ul ul,
.comment ul ul,
.entry-content ol ol,
.comment ol ol,
.entry-content ul ol,
.comment ul ol,
.entry-content ol ul,
.comment ol ul {
    margin-bottom: 0;
}
.entry-content ul,
.comment ul,
.mu_register ul {
    list-style: disc outside;
}
.entry-content ol,
.comment ol {
    list-style: decimal outside;
}
.entry-content li,
.comment li,
.mu_register li {
    margin: 0 0 0 36px;
    margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment blockquote {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    padding: 24px;
    padding: 1.714285714rem;
    font-style: italic;
}
.entry-content blockquote p:last-child,
.comment blockquote p:last-child {
    margin-bottom: 0;
}
.entry-content code,
.comment code {
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    line-height: 2;
}
.entry-content pre,
.comment pre {
    border: 1px solid #ededed;
    color: #666;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    line-height: 1.5em;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    overflow: auto;
    padding: 24px;
    padding: 1.714285714rem;
}
.entry-content pre code,
.comment pre code {
    display: block;
}
.entry-content abbr,
.comment abbr,
.entry-content dfn,
.comment dfn,
.entry-content acronym,
.comment acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
.entry-content address,
.comment address {
    display: block;
    line-height: 1.714285714;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
img.alignnone {
    margin: 0px 0px 20px 0px;
}
img.alignleft {
    margin: 0px 20px 10px 0;
}
img.alignright {
    margin: 0px 0 10px 20px;
}
img.aligncenter {
    margin: 0px auto 20px;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment dl {
    margin: 0 24px;
    margin: 0 1.714285714rem;
}
.entry-content dt,
.comment dt {
    font-weight: bold;
    line-height: 1.714285714;
}
.entry-content dd,
.comment dd {
    line-height: 1.714285714;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment table {
    border-bottom: 1px solid #ededed;
    color: #757575;
    font-size: 12px;
    line-height: 2;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    width: 100%;
}
.entry-content table caption,
.comment table caption {
    font-size: 16px;
    font-size: 1.142857143rem;
    margin: 24px 0;
    margin: 1.714285714rem 0;
}
.entry-content td,
.comment td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
.site-content article {
    border-bottom: 4px double #ededed;
    margin-bottom: 72px;
    margin-bottom: 5.142857143rem;
    padding-bottom: 24px;
    padding-bottom: 1.714285714rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.page-links {
    clear: both;
    line-height: 1.714285714;
}
footer.entry-meta {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 13px;
    line-height: 1.846153846;
    color: #757575;
}
.single-author .entry-meta .by-author {
    display: none;
}
.mu_register h2 {
    color: #757575;
    font-weight: normal;
}

/* =Archives-------------------------------------------------------------- */
.archive-header,
.page-header {
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    padding-bottom: 22px;
    padding-bottom: 1.571428571rem;
    border-bottom: 1px solid #ededed;
}
.archive-meta {
    color: #757575;
    font-size: 12px;
    line-height: 2;
    margin-top: 22px;
    margin-top: 1.571428571rem;
}
/* =Single image attachment view -------------------------------------------------------------- */

.article.attachment {
    overflow: hidden;
}
.image-attachment div.attachment {
    text-align: center;
}
.image-attachment div.attachment p {
    text-align: center;
}
.image-attachment div.attachment img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.image-attachment .entry-caption {
    margin-top: 8px;
    margin-top: 0.571428571rem;
}
/* Quote posts */
article.format-quote .entry-content p {
    margin: 0;
    padding-bottom: 24px;
    padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
    display: block;
    padding: 24px 24px 0;
    padding: 1.714285714rem 1.714285714rem 0;
    font-size: 13px;
    font-size: 1.071428571rem;
    line-height: 1.6;
    font-style: normal;
    color: #6a6a6a;
    background: #efefef;
}
.required {
    color: red;
}
/* start calendar widget */
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: center; color: #333; font-size: 14px; text-transform: uppercase; font-weight: 700; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
/* end calendar widget */
.widget select {
    width: 100%;
    padding: 10px;
    border: 1px solid #f2f2f2;
    outline: none;
}
.widget li {
    display: block;
    margin-bottom: 6px;
    padding-bottom: 6px;
    color: #a2a2a2;
}
.widget li a {
    color: #a2a2a2;
}
.widget li:hover {
    color: #7bb7f7;
}
.search_it {
    border: 1px solid #cacaca;
    padding: 10px 5%;
    width: 90%;
}
.tagcloud a {
	font-size: 12px !important;
	margin: 3px; 
	font-weight: 300;
	display: inline-block;
	padding: 3px 5px;
	border: 1px solid #cdcdcd;
}